// Vars

// Cool
$aqua:  #7FDBFF;
$blue:  #0074d9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;


// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;


// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;


// Mix-ins
@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

// Styling
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $black;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
    @include transition(.3s ease-in-out);
    cursor: pointer;

    &:hover {
        color: $red;
        @include transition(0.3s ease-in-out);
    }

    &.current {
        color: $red;
    }
}
