<section id="contact" class="contact-section alt-background">

    <div class="content-wrapper">    
        <div class="contact-form-header">
            <h3>Lets talk!</h3>
        </div>

        <form class="contact-form" method="POST" action="//formspree.io/{{site.data.settings.email}}">

            <fieldset class="contact-info-wrapper">
                <label><span>Your Name</span>
                <input></label>
    
                <label><span>Your Email</span>
                <input></label>
            </fieldset>            

            <label><span>Message</span>
            <textarea placeholder="Your message"></textarea></label>
            
            <div class="submit-wrapper">
                <button type="submit">Send</button>
            </div>

        </form>
    </div>

</section>