<section id="contact" class="contact-section">

    <div class="content-wrapper">

        <div class="contact-icon-wrapper">
            <i class="fa fa-paper-plane-o"></i>
        </div>

        <div class="contact-info-wrapper">
            <h3>Let's work together!</h3>
            <p>If you have an idea for a project or just want to brainstorm, please feel free to contact me!</p>
            <a href="mailto:{{ site.data.settings.email }}"><button>Contact Me!</button></a>
        </div>
        
    </div>

</section>