<section id="contact" class="contact-section">

    <div class="content-wrapper">    
        <div class="contact-form">
            Lets talk!
        </div>

        <form class="contact-form">

            <fieldset class="contact-info-group">
                <label><span>Your Name</span>
                <input placeholder="Name"></label>

                <label><span>Subject</span>
                <input placeholder="Subject"></label>

            </fieldset>

            <label><span>Message</span>
            <textarea placeholder="Your message"></textarea></label>

            <fieldset class="submit-wrap">
                <input type="submit" value="Send">
            </fieldset>

        </form>
    </div>

</section>