<section id="skills" class="skills-section alt-background">

    <div class="content-wrapper">
        <div class="skills-content">
            
            <div class="skills">
                <i class="fa fa-trophy"></i>
                <h4>Main skills</h4>
                <div class="skills-list">
                    {% for skill in site.data.settings.skills %}
                        <div class="skill-icon resize-icon">
                            <i class="fa {{ skill.icon }}" style="color:{{ skill.color }}"></i>
                            <p>{{ skill.name }}</p>
                        </div>
                    {% endfor %}  
                </div>
                
            </div>
            
            <div class="technologies">
                <i class="fa fa-mortar-board"></i>
                <h4>I have experience with</h4>
                <div class="tech-list">
                    {% for tech in site.data.settings.technologies %}
                        <div class="tech-icon resize-icon">
                            <img class="resize-icon" src="assets/img/technologies/{{ tech.location }}" alt="{{ tech.name }}" height="50px">
                        </div>
                    {% endfor %} 
                </div>
                
            </div>
        </div>
        
    </div>
    
</section>