<section id="skills" class="skills-section">

    <div class="content-wrapper">
        <div class="skills-content">            
            <i class="fa fa-mortar-board"></i>
            <h4>I have experience with</h4>
            <div class="tech-list">
                {% for tech in site.data.settings.technologies %}
                    <div class="tech-icon">
                        <img src="assets/img/technologies/{{ tech.location }}" alt="{{ tech.name }}" title="{{ tech.name }}" height="50px">
                    </div>
                {% endfor %} 
            </div>

            <div class="tech-list-text">
                {% for tech in site.data.settings.technologies %}
                    <p>{{ tech.name }}</p>
                {% endfor %} 
            </div>
        </div>
        
        
    </div>
    
</section>