.contact-section
    display: flex
    margin: 0 auto
    text-align: center


.contact-icon-wrapper
    padding-top: 20px
    font-size: 50px
    color: #222

.contact-info-wrapper
    width: 30%
    margin: auto
    padding-bottom: 50px

    h3
        margin-bottom: 0

    p
        margin: auto
        padding-bottom: 30px

@media screen and ( max-width: 900px)
    .contact-info-wrapper
        width: 80%

@media screen and ( max-width: 600px)
    .contact-info-wrapper
        width: 100%