footer
    display: flex
    background-color: black
    color: white
    padding: 20px
    align-content: center
    align-items: center
    justify-content: space-between

    .content-wrapper
        
        .logo
            height: 50px
            width: 50px
            display: flex
            float: left
            margin: 0 30px
            align-items: center
        
        .nav-item
            display: inline-block
            text-decoration: none
            color: white
            margin-right: 10px
            
        a, #copyright
                text-transform: uppercase

    a
        button
            float: right

    
