header
    text-align: center
    height: 250px
    align-content: center

    .logo
        height: 50px
        width: 50px
        float: left
        margin: 10px 0 0 30px
        color: #111

        a 
            color: #111
            
            &:hover,
            &:focus
                color: lighten(#111, 20%)

        path
        fill: rgba(0,0,0,0.4)

    nav
        float: right
        margin: 10px

        a 
            display: inline-block
            text-decoration: none
            color: #111111
            margin-right: 10px

    h1
        margin: 20px 20px 5px 20px
        padding: 10px
        clear: both
        letter-spacing: 0.03em

        span
            display: inline-block
            padding: 0.2em 0.5em
            border: red solid 10px
    