#skills
    padding-top: 30px

    .skills-content
        display: flex
        flex-direction: column
        padding: 20px 0
        margin: 0 auto
        color: #222

        i
            text-align: center
            margin: 0 auto
            font-size: 40px
               
        .tech-list
            display: grid
            width: 80%
            margin: auto
            grid-template-columns: repeat(5, 1fr)
            grid-gap: 1rem
            grid-column-gap: 30px
            text-align: center
        
        .tech-list-text
            display: none


@media screen and ( max-width: 992px )
    
    #skills > .content-wrapper
        padding-top: 10px

        .skills-content
            .tech-list
                grid-template-columns: repeat(4, 1fr)
                grid-gap: 2rem
                padding-top: 20px



@media screen and ( max-width: 600px )
    
    #skills > .content-wrapper
        .skills-content
            .technologies
                border-top: 1px solid #222 
                padding-top: 20px
                margin-top: 30px

            .tech-list 
                grid-template-columns: repeat(4, 1fr)
                grid-gap: 2rem
                padding-top: 20px

                .tech-icon 
                    img
                        height: 30px



@media screen and ( max-width: 400px )
    
    #skills
        .content-wrapper
            .skills-content
                display: flex
                flex-wrap: wrap
                margin: auto

                h4
                    font-size: 16px

                .tech-list
                    grid-template-columns: repeat(3, 1fr)

@media screen and ( max-width: 240px )
    #skills > .content-wrapper > .skills-content
        .tech-list
            display: none
        
        .tech-list-text
            display: inline