footer {
    color: $white;
    background-color: $blackgrey;
    height: 60px;
    bottom: 0;
    width: 100%;
    
    .center {
        margin: auto;
        top: 50%;
        transform: translate(0, 50%);
        text-align: center;
    }
}