footer {
    font-family: 'Courier New', Courier, monospace;
    color: $white;
    background-color: $blackgrey !important;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin-top: 40px;
    
    .center {
        margin: auto;
        top: 50%;
        transform: translate(0, 50%);
        text-align: center;
    }
}