.container.footer {
    color: $blackgrey;
    background-color: $white !important;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;

    .footer-placeholder {
        visibility: hidden;
        flex: 1;
    }

    .footer-socials{
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;

        ul {
            margin: auto;
            padding: 0;

            li {
                text-align: center;
                list-style-type: none;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }

    .footer-copyright {
        text-align: end;
        flex: 1;
        margin: 2rem 0;
    }
}